* {
  box-sizing: border-box;
}

.calc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 420px;
  height: 630px;

  background-color: #212121;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.row {
  flex: 1;
  display: flex;
  /* align-items: stretch; */
  justify-content: space-around;
}
.display {
  color: #fafafa;
  /* display: flex; */
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.display__text {
  font-size: 34px;
  margin: 0 13px;
  font-weight: normal;
}

.btn {
  /* flex: 1; */
  border: none;
  margin: 0.15%;

  font-size: 34px;
  /* font-weight: bold; */

  width: 25%;
  cursor: pointer;
  background-color: #e0e0e0;
}

.btn:hover {
  background-color: #f5f5f5;
}

.btn:active {
  background-color: #bdbdbd;
}

.btn.clean {
  width: 50.3%;
}

.btn.zero {
  width: 75.6%;
}

.btn:last-child {
  background-color: #ff7043;
  color: #fafafa;
}

.btn:last-child:hover {
  background-color: #ffab91;
}

.btn:last-child:active {
  background-color: #f4511e;
}

.btn:last-child.minus {
  font-size: 47px;
}
